body{
    margin: 0;
    overflow-x:hidden ;
}
.header{
    width: 100%;
    height:160px;
    background-color:aqua;
}
.top-header{
    display: flex;
    width: 100%;
    height: 45px;
}
.left-top-header{
    display: flex;
    align-items: center;
    width: 50%;
    height: 45px;
    background-color: #f6f6f6;
}
.right-top-header{
    display: flex;
    width: 50%;
    height: 45px;
    background-color: #f6f6f6;
}
.dot{
    position: relative;
    left:20px;
}
.web-name{
    position: relative;
    left: 40px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;;
    font-size: 13px;
}
.top-menus{
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    position: relative;
    left: 210px;
    margin-left: 29px;
}
.search-icon{
    width: 17px;
    height: 42px;
    position: relative;
    left: 240px;
}
.bag-icon{
    width: 17px;
    height: 42px;
    position: relative;
    left: 260px;
}
.bottom-header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 115px;
}
.centre-head1{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #fff;
}
.centre-head2{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 65px;
    background-color: #fff;
}
.logo{
    width: 112px;
    height: 48px;
}
.bottom-menu{
    
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    left: 210px;
    margin-left: 10px;
}
.first-body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #292a2e;
}
.first-line{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #fff;
    font-weight: 100;
}
.new-body{
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #fff;
}
.new{
    font-size: 34px;
    position: relative;
    left: 90px;
}
.new-logo{
    position: relative;
    left: 223px;
    width: 120px;
    height: 120px;
    margin-left: 10px;
}
.banner{
    display: inline-flex;
    margin-right: 45px;
    height: 500px;
    background-color: #fff;
}
.banner-img{
    width: 59%;
    position: relative;
    left: 130px;
    top: 34px;
    height: 90%;
}
.banner-logo{
    width: 15%;
    position: relative;
    left: 223px;
    top: -92px;
}
.banner-content,.banner-content1,.banner-content2{
    letter-spacing: 8px;
    font-size: 24px;
    color: black;
    font-weight: 400;
    top: 69px;
    word-spacing: -2px;
    text-align: center;
    margin-top: 212px;
}
button{
    height: 45px;
    width: 147px;
    border: solid 1px black;
    transition-duration: 0.4s;
  }
button:hover{
    background-color: #292a2e;
    color: #fff;
}

.button1{
    position: absolute;
    top: 115%;
    right: 262px;
}

.button2{
    position: absolute;
    top: 115%;
    right: 102px;
}
.banner1{
    display:flex;
    width: 100%;
    height: 500px;
    background-color: #fff;
    
}
.first-div{
    margin-left: 130px;
    width: 40%;
    background-color: #292a2e;
}
.second-div{
    width: 40%;
    background-color: #0d3aee;
}
.button3,.button3-sub,.button4-sub{
    position: absolute;
    left: 222px;
    margin-top: 329px;
}
.button4:hover{
    background-color: #292a2e;
    color: #fff;
}

.button4{
    position: absolute;
    left: 393px;
    margin-top: 329px;
}
.banner-img1{
    width: 51%;
    position: relative;
    left: -104px;
    top: 0px;
    height: 90%;
}
.banner-logo1{
    width: 45%;
    position: relative;
    left: -165px;
    top: -87px;
}
.banner-content1{
    top: 21px;
    position: relative;
    left: 95px;
}
.colour-back{
    margin-left: 130px;
    width: 40%;
    display: flex;
    background-color: #f6f6f6;
}
.button5{
    color: #fff;
    border: solid 1px #fff;
    background-color: #000000;
    position: absolute;
    left: 941px;
    margin-top: 329px;
}
.button6{
    position: absolute;
    left: 1097px;
    margin-top: 329px;
    color: #fff;
    border: solid 1px #fff;
    background-color: #000000;
}
.banner-content2{
    color: #fff;
    top: 10px;
    position: relative;
    left: -87px;
}
.colour-black{
    margin-left: 130px;
    margin-top: 34px;
    margin-bottom: 16px;
    width: 27%;
    display: flex;
    background-color: black;
}
.banner-logo3{
    width: 47%;
    position: relative;
    left: 91px;
    top: -71px;
}
.button3-sub{
    left: 270px;
    width: 180px;
}
.button4-sub{
    left: 1010px;
    margin-top: 300px;
}
.second-footer{
    display: flex;
    margin-top: 27px;
    margin-left: 40px;
    width: 100%;
    height: 500px;
    background-color: #ffffff;
}
.foot-menu1{
    width: 15%;
    height: 500px;   
}
.foot-menu2{
    width: 15%;
    height: 500px;
}
.foot-menu3{
    width: 15%;
    height: 500px;
}
.foot-menu4{
    width: 15%;
    height: 500px;
    margin-right: 10px;
}
.foot-menu5{
    width: 40%;
    height: 500px;
    background-color: #f6f6f6;
}
.foot-head{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    margin-left: 26px;   
}
.foot-sub{
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    margin-left: 26px;
    margin-top: 20px;
}
.glob{
    width: 4%;
    position: relative;
    left: 15px;
    top: 17px;
}
.glob-near{
    font-size: 14px;
    position: relative;
    left: 53px;
    top: -18px;
}
.location{
    width: 3%;
    position: relative;
    left: 390px;
    top: -51px;
}
.loc-near{
    font-size: 14px;
    position: relative;
    left: 414px;
    top: -87px;
}
.subscribe{
    font-size: 16px;
    position: relative;
    font-family: 'Poppins', sans-serif;
    top: -10px;
    left: 15px;
}
.require{
    position: relative;
    top: -10px;
    left: 21px;
    font-style: italic;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.548);
}
.email{
    font-size: 14px;
    position: relative;
    font-family: 'Poppins', sans-serif;
    top: -5px;
    left: 15px;
}
.box{
    margin-left: 18px;
    width: 84%;
    height: 42px;
    border: solid 1px;
}
.gender{
    position: relative;
    top: 10px;
    left: 18px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.gender-sel{
    margin-left: 21px;
}
.gender-sel2{
    margin-left: 35px;
}
.women{
    margin-left: 8px;
}
.require1{
    position: relative;
    top: -10px;
    left: 30px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.548);   
}
.button-last{
    position: relative;
    left: 21px;
    top: -3px;
    width: 115px;
    height: 40px;
    color: #fff;
    background: black;
}
.End{
    display: flex;
    width: 100%;
    height: 220px;
    background-color: #181818;
    margin-top: 10px;
}
.End-1{
    width: 33.5%;
    height: 220px;
    
}
.End-2{
    width: 33.5%;
    height: 220px;
   
}
.End-3{
    width: 33.5%;
    height: 220px;
    
}
.End-1-content{
    font-size: 14px;
    position: relative;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    top: 23px;
    font-weight: 600;
    left: 119px;
}
.fb{
    width: 22px;
    height: 42px;
    position: relative;
    left: 140px;
    top: 13px;
    margin-left: 15px;
}
.last-logo{
    width: 29%;
    position: relative;
    left: 165px;
    top: 19px;
}
.End-2-content{
    font-size: 14px;
    position: relative;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    top: 23px;
    font-weight: 600;
    left: 210px;
}
.copy-right{
    font-size: 11px;
    position: relative;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    top: 38px;
    font-weight: 400;
    left: -497px;
    width: 133%;
}
